@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Montserrat:wght@500&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=PT+Serif&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Sora:wght@100;200;300;400;500;600;700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@500&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=PT+Serif&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Sora:wght@100;200;300;400;500;600;700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.space{
    margin-left: 4rem;
    margin-right: 4rem;
}



/* nav container styles  */
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: 0.8rem;
}

.tab-section > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.tab-section > ul > li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #000;
}

.tab-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.search-icon, .cart-icon{
    cursor: pointer;
}

/* banner container styles  */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    background-image: url("/images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: 50% 400px;
    background-position: right;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.banner-title{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 16px;
}
.banner-btn{
    background-color: #E02C6D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 10px;
    border-radius: 40px;
    color: #fff;
    margin-top: 16px;
}
.banner-img > img{
    width: 100%;
}




/* Responsive the site  */

/* Responsive for Mobile device  */

@media screen and (max-width: 676px) {
    .space{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .tab-section > ul{
        display: none;
    }

    .banner-container{
        flex-direction: column-reverse;
        background-position: top;
        background-size: 100% 500px;
    }
    .banner-img{
        margin-bottom: 3rem;
    }
}



/* Responsive for Tablet device  */

@media screen and (min-width: 676px) and (max-width: 960px) {
    .space{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .banner-container{
        flex-direction: column-reverse;
        background-position: top;
        background-size: 100% 500px;
    }
    .banner-img{
        margin-bottom: 3rem;
    }
}